<div class="container">
  <div class="row">
    <div class="error">
      <h2><%= response.status %></h2>
      <h4><%= error %></h4>
      <%= link_to "Home", root_path, class: "btn btn-lg error-home" %>
    </div>
  </div>
</div>